body {
    background-color: rgba(179,130, 186);
    font-family: 'Lato', sans-serif;
}

h1, p { 
    text-align: right;
    margin: 30px;
}

a{
    text-decoration: none;
    font-size:14px;
    
}

.session1, .session {
    width:49%;
    display: inline-block;
    vertical-align: middle;
}


.btn-container {
    text-align: right;
    margin: 10px;
}

.btn{
    padding:10px;
    margin: 15px;
    border-radius: 3px;
    border: 1px solid purple;
}
.btn:hover{
    opacity: 0.8;
}
.button{
    color:white;
    background-color: rgb(122, 52, 122);
}

.button2{
    color:purple;
}

img{
    width:70%;
}


@media (max-width: 1024px) {

    .session1 {
        width:70%;
        font-size: 30px;
        display: block;
        margin: 10% auto 0px auto;
    }
    .session {
        width:100%;
        display: block;
        margin: 0 auto;
    }
    img {
        transform: rotate(270deg);
        display: block;
        margin: 0 auto;
        width:75%;
    }
    .btn-container {
        text-align: left;
        margin-top: 10%;
    }
    .btn {
        padding:3%;
        margin: 1% 3%;
        border-radius: 3px;
    }
    p {
        text-align: justify;
    }
    h1 {
        text-align:center;
    }

}